<div class="container">
    <div class="row">
      <h1 class="display-4">Dodawanie klienta:</h1>
      <br>
    </div>
    <form>
      <div class="form-group row">
        <label for="clientCredentials" class="col-sm-2 col-form-label">Imię i nazwisko:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputClientCredentials" >
        </div>
      </div>
      <div class="form-group row">
        <label for="registrationDate" class="col-sm-2 col-form-label">Data rejestracji:</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputregistrationDate">
        </div>
      </div>
      <div class="form-group row">
        <label for="TypeOfRepair" class="col-sm-2 col-form-label">Rodzaj Naprawy:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTypeOfRepair" >
        </div>
      </div>
      <div class="form-group row">
        <label for="ClientPhoneNumber" class="col-sm-2 col-form-label">Telefon kontaktowy:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputClientPhoneNumber" >
        </div>
      </div>
      <div class="form-group row">
        <label for="ClientEmail" class="col-sm-2 col-form-label">Adres email:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputClientEmail" >
        </div>
      </div>
      <div class="form-group row">
        <label for="ClientLogin" class="col-sm-2 col-form-label">Login w systemie:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputClientLogin" >
        </div>
      </div>
      <div class="form-group row">
        <label for="CarNumberPlate" class="col-sm-2 col-form-label">Numer rejestracyjny:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputCarNumberPlate" >
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary mb-2">Dodaj klienta</button>
        <button type="reset" class="btn btn-warning mb-2">Anuluj</button>
      </div>
    </form>
  </div>
  