<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Warsztat samochodowy</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Strona Główna</a></li>
      <li><a href="#">Cennik</a></li>
      <li><a href="#">Twoja naprawa</a></li>
    </ul>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Strefa Pracownika <span class="caret"></span></a>
        </li>
        <li>
          <a href="#" role="button">Wyloguj się</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
