<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="btn">
        <img src="https://morwin.eu/images/logo_large.png" alt="Warsztat samochodowy" style="max-height: 35px;">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Strona Główna</a></li>
      <li><a href="/services">Cennik</a></li>
      <li><a href="/repair/repair-status">Twoja naprawa</a></li>
    </ul>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown"appDropdown>
          <a class="dropdown-toggle" role="button">Strefa Pracownika <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/repair">Wyświetl wszystkie naprawy</a></li>
            <li><a href="/repair/add">Dodaj nową naprawę</a></li>
          </ul>
        </li>
        <li>
          <a href="#" role="button">Wyloguj się</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
