<div class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Cena hurtowa</th>
      <th scope="col">Cena do sprzedaży</th>
      <th scope="col">Data dodania</th>
      <th scope="col">Działania</th>
    </tr>
  </thead>
  <tbody *ngFor="let part of parts">
    <tr>
      <th scope="row">{{ part.id }}</th>
      <td>{{ part.name }}</td>
      <td>{{ part.priceWholesale }}</td>
      <td>{{ part.priceRetail }}</td>
      <td>{{ part.date }}</td>
      <td><button class="btn btn-default" (click)="onEdit()">Edytuj</button></td>
      <td><button class="btn btn-danger"><!--(click)="onDelete()"-->Usuń</button></td>
    </tr>
  </tbody>
</div>
